<launch>
  <arg name="iface" default=""/>
  <arg name="timeout" default="5.0"/>
  <arg name="frame_id" default="world"/>
  <arg name="publish_tf" default="true"/>
  <arg name="sync" default="true"/>
  <arg name="restamp" default="false"/>
  <arg name="diagnostics" default="false"/>
  <arg name="publish_covariance" default="false"/>
  <arg name="position_error" default="1e-3"/>
  <arg name="orientation_error" default="1e-2"/>
  <arg name="publish_data" default="false"/>
  <arg name="publish_description" default="false"/>
  <arg name="publish_clock" default="false"/>
  <arg name="config" default="$(find-pkg-share optitrack_ros_py)/launch/default.yaml"/>
  <arg name="name" default="optitrack"/>
  <node namespace="$(var name)" pkg="optitrack_ros_py" exec="optitrack_ros" name="optitrack_ros" output="screen">
    <param name="iface" value="$(var iface)"/>
    <param name="timeout" value="$(var timeout)"/>
    <param name="sync" value="$(var sync)"/>
    <param name="restamp" value="$(var restamp)"/>
    <param name="diagnostics" value="$(var diagnostics)"/>
    <param name="publish_data" value="$(var publish_data)"/>
    <param name="publish_description" value="$(var publish_description)"/>
    <param name="publish_covariance" value="$(var publish_covariance)"/>
    <param name="publish_clock" value="$(var publish_clock)"/>
    <param name="position_error" value="$(var position_error)"/>
    <param name="orientation_error" value="$(var orientation_error)"/>
    <param from="$(var config)"/>
  </node>
</launch>
